@charset "utf-8";

body,html{
	background-color: #044D98;/*#001B38; aggie blue */
	height:100%;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 100%;
	display: inline-block;
	
}
#header{
	background-color: rgba(253, 185, 39, 0.98);
}
#header h1{
  font-size: 48px;
  color: rgb(0, 70, 132);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.35);
	z-index: 6;
}
#nav ul{
	background-color:#FDB00E;
	margin-top: 0px;
}
#nav li{
	font-size:18px;
 	background-color: #FDB00E; /*aggie gold */
 	display: inline-block;
	height: 50px;
	width:24.7%; 
 }
 
 /* Box */
 #box{
	 position: relative;
  border-style: solid;
  border-width: 10px;
  border-color: #FFF;
  background-color: rgb(40, 14, 157);
  width: 884px;
  height: 484px;
  z-index: 2;
}
#box h3{
	margin-top: 0;
  font-size: 48px;
  color: rgb(253, 185, 39);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  z-index: 4;
}
#inner-box{
	position: absolute; 
	left: 5%;
	bottom: 0;
	background-color: rgb(123, 121, 130);
	width: 784px;
	height: 412px;
	z-index: 3;
}
#submit{
	position:absolute;
	bottom: 5%;
	left: 30%;
}
.submit{
	background:url(Submit.gif);
	color: transparent;
	height:76px;
	width: 300px;	
}


.user{
	position:absolute;
	top: 35%;
	left:12%;
	height: 50px;
	width: 600px;
	font-size: 16px;
	
}
.pass{
	position:absolute;
	top: 55%;
	left:12%;
	height: 50px;
	width: 600px;
	font-size: 16px;
}
