@charset "utf-8";
/* CSS Document */
body{
	background-color: rgb(40, 14, 157); /* #044D98;#001B38; aggie blue */
	font-family:Arial, sans-serif;
	height: 100%;
}


h2{
	color: rgb(0, 70, 132);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.35);	
}
#wrapper{
	top: 0;
	left: 0;
	position:relative;
	
}
p{
	color: #FFF;
}
#header{
	background:rgba(253, 185, 39, 0.98);
	position:relative;
	width: 100%;
	top: 0;
	left: 0;
	
}
a{
	color: #FFF;
	
}

td{
	color: #FFF;
	
}
label{
	color: #FFF;
}
#links{
	color: #FFF;
	
	
}

